header,footer{
  background-color : #d1e7d9;
  display:flex;
  padding: 15px;
  justify-content: space-between;
  
}
.header_logo{
  border: 1px solid red;
  display: flex;
  align-items: center;
}
.header_logo h2{
 padding-left: 15px;
}

.Header
{
  margin: 0 px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  
}

.Site_Welcome
{
  padding: 15px;
  justify-content: space-evenly;
  text-align: center;
}

.Bubbles
{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}



.Image_text_box {
  
  background-color : rgb(175, 216, 191);
}



.Footer
{
  margin: 0 px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}