header,footer{
  background-color : #d1e7d9;
  display:flex;
  padding: 5px;
  justify-content: space-between;
  
}
.header_logo{
  /*good test! : border: 1px solid red;*/
  display: flex;
  align-items: center;
}

.Image_text_box{
  position: relative;
  text-align: center right;
  color: rgb(25, 53, 40);
}


.Image_text_box img{
  min-width: 100%;
  object-fit: cover;
  min-height: 50%;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}


.header_logo h2{
 padding-left: 15px;
}

.Header
{
  margin: 0 px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  color:rgb(28, 70, 41); 
  
}



.Site_Welcome
{
  padding: 15px;
  justify-content: space-evenly;
  text-align: center;
}

.Bubbles
{
  display: flex;
  padding: 250px;
  justify-content: space-evenly;
  text-align: center;
}


.Footer
{
  margin: 0 px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}